<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container bootstrap snippet">
    <div class="col-md-6">
        <div class="header bordered-blueberry">Rounded &amp; Shadowed Alerts</div>
        <div class="alert alert-warning fade in radius-bordered alert-shadowed">
            <button class="close" data-dismiss="alert">
                ×
            </button>
            <span class="badge badge-success graded">
                0
            </span>
            <strong>Warning</strong> Your monthly traffic is reaching limit.
        </div>

        <div class="alert alert-success fade in radius-bordered alert-shadowed">
            <button class="close" data-dismiss="alert">
                ×
            </button>
            <span class="badge badge-darkorange graded">
                2
            </span>
            <strong>Success</strong> Two Tasks Are Completed.
        </div>

        <div class="alert alert-info fade in radius-bordered alert-shadowed">
            <button class="close" data-dismiss="alert">
                ×
            </button>
            <span class="badge badge-sky graded">
                8
            </span>
            <strong>Info!</strong> You have 8 unread messages.
        </div>

        <div class="alert alert-danger fade in radius-bordered alert-shadowed">
            <button class="close" data-dismiss="alert">
                ×
            </button>
            <i class="fa-fw fa fa-times"></i>
            <strong>Error!</strong> Update has failed.
        </div>
    </div>
</div>